aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.1.0
black==23.7.0
cached-property==1.5.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cryptography==41.0.3
defusedxml==0.7.1
exceptiongroup==1.1.3
fonttools==4.42.1
frozenlist==1.4.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
oscrypto==1.3.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pycparser==2.21
pyHanko==0.20.0
pyhanko-certvalidator==0.23.0
pyOpenSSL==23.2.0
pypng==0.20220715.0
python-barcode==0.15.1
python-pkcs11==0.7.0
PyYAML==6.0.1
qrcode==7.4.2
requests==2.31.0
sniffio==1.3.0
tomli==2.0.1
typing_extensions==4.7.1
tzlocal==5.0.1
uharfbuzz==0.37.2
uritools==4.0.1
urllib3==2.0.4
yarl==1.9.2
